<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Armies</h1>
    <a href="/">Back to Main Page</a> <button id="theme-toggle">Toggle Dark Mode</button>

    <div class="form-container">
        <h2>Create New Army</h2>
        <input type="text" id="armyName" placeholder="Army Name" required>
        <textarea id="armyDescription" placeholder="Army Description"></textarea>
        <button id="createArmyBtn">Create Army</button>
    </div>

    <div id="armiesContainer"></div>

    <script src="{{ url_for('static', filename='js/armies.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dark_mode.js') }}"></script>
</body>
</html>