<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Collection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Mage Knight Miniatures Database</h1>
    <a href="/">Back to Main Page</a>

    <div class="filters">
        <input type="text" id="nameFilter" placeholder="Filter by Name">
        <select id="factionFilter" multiple size="5"></select>
        <input type="text" id="setFilter" placeholder="Filter by Set">
        <select id="rankFilter" multiple size="4"></select>
        <select id="abilityFilter"></select>
        <input type="number" id="minCostFilter" placeholder="Min Cost">
        <input type="number" id="maxCostFilter" placeholder="Max Cost">
        <input type="number" id="minSpeedFilter" placeholder="Min Speed">
        <input type="number" id="minAttackFilter" placeholder="Min Attack">
        <input type="number" id="minDefenseFilter" placeholder="Min Defense">
        <input type="number" id="minDamageFilter" placeholder="Min Damage">
        <input type="number" id="minRangeFilter" placeholder="Min Range">
        <select id="sortFilter">
            <option value="normalized_power_score">Sort by Normalized Power Score</option>
            <option value="normalized_efficiency_score">Sort by Normalized Efficiency Score</option>
            <option value="power_score">Sort by Raw Power Score</option>
            <option value="efficiency_score">Sort by Raw Efficiency Score</option>
            <option value="point_cost">Sort by Cost</option>
            <option value="range">Sort by Range</option>
        </select>
        <button onclick="applyFilters()">Apply Filters</button>
    </div>

    <div id="miniaturesContainer"></div>

    <script src="{{ url_for('static', filename='js/collection.js') }}"></script>
</body>
</html>
