<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mage Knight Shopping List</title>
    <link rel="stylesheet" href="/static/css/style.css?v=1.1">
</head>
<body>
    <div class="container">
        <h1>Mage Knight Shopping List</h1>
        <a href="/">Back to Main Page</a> <button id="theme-toggle">Toggle Dark Mode</button>
        <button id="export-csv-btn">Export to CSV</button>
        <div id="shopping-list-container" class="list-container"></div>
    </div>

    <script src="/static/js/shopping_list.js"></script>
    <script src="{{ url_for('static', filename='js/dark_mode.js') }}"></script>
</body>
</html>
